// app global css
.q-layout-page-container {
  max-width: 1024px;
  margin: 0 auto;
}

@font-face {
    font-family: 'dancing_script_otregular';
    src: url('../statics/fonts/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../statics/fonts/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('../statics/fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('../statics/fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeInOut {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes fadeInOut{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeInOut{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeInOut{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.fadeInOut {
   -webkit-animation: fadeInOut 2s infinite;
   -moz-animation: fadeInOut 2s infinite;
   -o-animation: fadeInOut 2s infinite;
    animation: fadeInOut 2s infinite;
}